<!--<nav class="navbar navbar-light bg-white fixed-top" style="justify-content: space-between">-->
<!--  <a routerLink="" class="navbar-brand" style="color: black" *ngIf="!authService.isAuth()">BABBLE-APP</a>-->
<!--  <a routerLink="babble/all" class="navbar-brand" style="color: black" *ngIf="authService.isAuth()">BABBLE-APP</a>-->
<!--&lt;!&ndash;  <button class="btn btn-outline-primary mr-sm-2" routerLink="babble/search">Search</button>&ndash;&gt;-->
<!--&lt;!&ndash;  <form class="form-inline" [formGroup]="searchBabbleForm" (ngSubmit)="onSubmit()" *ngIf="authService.isAuth()">&ndash;&gt;-->
<!--&lt;!&ndash;    <input class="form-control mr-sm-1" type="text" placeholder="Search" formControlName="text">&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="btn btn-outline-primary" type="submit">Q</button>&ndash;&gt;-->
<!--&lt;!&ndash;  </form>&ndash;&gt;-->
<!--&lt;!&ndash;  <button class="btn btn-outline-primary" routerLink="/babble/add" *ngIf="authService.isAuth()">New Babble</button>&ndash;&gt;-->
<!--  <a routerLink="" class="navbar-brand" style="color: black" *ngIf="!authService.isAuth()">LOGIN</a>-->
<!--&lt;!&ndash;  <a (click)="logout()" class="navbar-brand" style="color: black; cursor: pointer" *ngIf="authService.isAuth()">{{authService.getUsername() | uppercase}}</a>&ndash;&gt;-->
<!--  <div class="dropdown" *ngIf="authService.isAuth()">-->
<!--    <a class="navbar-brand" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none; color: black; cursor: pointer">-->
<!--      {{authService.getUsername() | uppercase}}-->
<!--    </a>-->
<!--    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">-->
<!--      <a class="dropdown-item" routerLink="/user/{{authService.getUsername()}}">Profil</a>-->
<!--      <a class="dropdown-item" href="#">Must Like</a>-->
<!--      <a class="dropdown-item" href="#">Must Dislike</a>-->
<!--      <a class="dropdown-item" href="#">Must Share</a>-->
<!--      <a class="dropdown-item" href="#">Must Comment</a>-->
<!--      <a class="dropdown-item" (click)="logout()" style="color: red; cursor: pointer">Logout</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<!--<div class="jumbotron"></div>-->


<div class="container d-flex justify-content-between fixed-top  pt-1" style="height: 50px; max-width: 40rem; background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
  <a routerLink="" class="navbar-brand" style="color: dodgerblue" *ngIf="!authService.isAuth()">BABBLE-APP</a>
  <a routerLink="babble/all" class="navbar-brand" style="color: dodgerblue" *ngIf="authService.isAuth()">BABBLE-APP</a>
  <div routerLink="/notification/{{authService.getUsername()}}" style="padding-top: 4px; cursor: pointer"><span *ngIf="numberOfNewComment>=1" class="badge badge-danger">{{numberOfNewComment}}</span></div>
  <a routerLink="" class="navbar-brand" style="color: dodgerblue" *ngIf="!authService.isAuth()">LOGIN</a>
  <div class="dropdown" *ngIf="authService.isAuth()">
    <a class="navbar-brand" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none; color: dodgerblue; cursor: pointer">
      {{authService.getUsername() | uppercase}} <i class="fa fa-angle-down"></i></a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1" style=" background: #eeeeee">
      <a class="dropdown-item" routerLink="/user/{{authService.getUsername()}}">Profil</a>
      <a class="dropdown-item" routerLink="/notification/{{authService.getUsername()}}">Notification <span class="badge badge-danger">{{numberOfNewComment}}</span></a>
<!--      <a class="dropdown-item" href="#">Must Like</a>-->
<!--      <a class="dropdown-item" href="#">Must Dislike</a>-->
<!--      <a class="dropdown-item" href="#">Must Share</a>-->
<!--      <a class="dropdown-item" href="#">Must Comment</a>-->
      <a class="dropdown-item" (click)="logout()" style="color: red; cursor: pointer">Logout</a>
    </div>
  </div>
</div>
<div style="height: 100px"></div>
