<div class="card gedf-card mx-auto" style="max-width: 40rem;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-between align-items-center">
        <div class="ml-2">
          <div class="h5 m-0" style="color: dodgerblue">WELCOME TO BABBLE</div>
          <div class="h7 text-muted">by daloya</div>
        </div>
      </div>
    </div>

  </div>
  <div class="card-body">
    <p class="card-text">
      Babble is an application to express your thoughts (here called Babble) about 250 characters in the language of your choice. His thoughts can address many diverse and varied subjects, only you have the limits! <br>
      Go ahead, let your imagination run wild!
    </p>
  </div>
  <div class="card-footer">
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="userName">Username</label>
        <input type="text" id="userName" class="form-control" formControlName="userName" style="background: none; border-color: black">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password" style="background: none; border-color: black">
      </div>
      <button class="btn btn-primary mr-sm-2" type="submit" [disabled]="signinForm.invalid">Login</button>
    </form>
    <div class="mt-sm-2">
      <p>If you don't have an account <a routerLink="/auth/signup" class="btn btn-outline-secondary">Register</a></p>
      <p style="color: red" *ngIf="hatError">{{ errorMessage }}</p>
    </div>
  </div>
</div>
