.overlay-loading {
  height: 100%;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255, 0.50);
  overflow-x: hidden;
  transition: 0.5s;
}
.spinner {
  height: 150px;
  width: 150px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  top: 40%;
  margin: auto;
}
.spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #7a9d34;
}
