<div class="overlay-loading" [hidden]="!loading">
  <svg class="spinner position-relative" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="24" fill="none" stroke-width="2" stroke-miterlimit="10" />
  </svg>
</div>

<div class="card-body mx-auto" style="max-width: 40rem">
  <form [formGroup]="createBabbleForm" (ngSubmit)="onSubmit()">
    <div class="form-group" style="border-color: black">
      <label class="sr-only" for="text">Text</label>
      <textarea class="form-control" id="text" rows="3" class="form-control" formControlName="text" placeholder="What are you thinking?" style="background: none; border-color: black" ngModel maxlength="250"></textarea>
    </div>
    <div class="d-flex justify-content-center">
    <button class="btn btn-primary" type="submit" [disabled]="createBabbleForm.invalid">Post</button>
    </div>
  </form>
</div>
<ng-container *ngIf="babblesList?.length>0; else noBabbles">
  <div *ngFor="let Babble of babblesList" class="card mx-auto mb-2" style="max-width: 40rem;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
    <div class="card-body text-center">
      <div class="border-bottom d-flex justify-content-between">
        <h4 routerLink="/user/{{ Babble.creator }}" class="mb-4" style="color: dodgerblue; cursor: pointer">@{{ Babble.creator }} <a *ngIf="Babble.rebabble" class="text-muted" routerLink="/user/{{ Babble.rebabbler }}"><i class="fa fa-retweet"></i><small> @{{Babble.rebabbler}}</small></a></h4>
        <h4 *ngIf="authService.getUsername()===Babble.creator" class="dropdown mb-3">
          <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none; color: dodgerblue">
            <i class="fa fa-ellipsis-h"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1" style="background: #eeeeee">
            <a routerLink="/babble/update/{{ Babble.babbleId }}" class="dropdown-item">Edit</a>
            <a (click)="this.actionService.onDeleteBabble(Babble.babbleId)" class="dropdown-item" style="color: red; cursor: pointer">Delete</a>
          </div>
        </h4>
      </div>
      <h5 class="card-text text-decoration-none mt-3">{{ Babble.text }}</h5>
      <div class="d-flex justify-content-around">
        <small class="text-muted mt-1 mb-3">{{ Babble.creationDate | date }}</small>
      </div>
      <div class="d-flex justify-content-around border-top">
        <a (click)="onLike(Babble.babbleId)" class="mt-3" style="color: gray; cursor: pointer" *ngIf="!Babble.hasCurrentUserLiked">{{ Babble.numberOfLike }} <i class="far fa-handshake"></i></a>
        <a (click)="onDeleteLike(Babble.babbleId)" class="mt-3" style="color: black; cursor: pointer" *ngIf="Babble.hasCurrentUserLiked">{{ Babble.numberOfLike }} <i class="fas fa-handshake"></i></a>
        <a (click)="onDislike(Babble.babbleId)" class="mt-3" style="color: gray; cursor: pointer" *ngIf="!Babble.hasCurrentUserDisliked">{{ Babble.numberOfDislike }} <i class="far fa-thumbs-down"></i></a>
        <a (click)="onDeleteDislike(Babble.babbleId)" class="mt-3" style="color: red; cursor: pointer" *ngIf="Babble.hasCurrentUserDisliked">{{ Babble.numberOfDislike }} <i class="fas fa-thumbs-down"></i></a>
        <a routerLink="/babble/comment/{{ Babble.babbleId }}" class="mt-3" style="color: gray; text-decoration: none">{{ Babble.numberOfComment }} <i class="far fa-comment-dots"></i></a>
        <a (click)="onShare(Babble.babbleId)" class="mt-3" style="color: gray; cursor: pointer">{{ Babble.numberOfRebabble }} <i class="fa fa-retweet"></i></a>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #noBabbles>
  <div class="card-body mx-auto text-center" style="max-width: 40rem">
    <p>Sorry but there are no Babble actually</p>
  </div>
</ng-template>
