<div class="card gedf-card mx-auto" style="max-width: 40rem" *ngIf="babble">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-between align-items-center">
        <div class="ml-2">
          <div class="h5 m-0">
            <a style="color: black">Edit your Babble</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="updateBabbleForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="sr-only" for="text">Text</label>
        <textarea class="form-control" id="text" rows="3" class="form-control" formControlName="text" placeholder="{{babble.text}}"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="updateBabbleForm.invalid">Edit</button>
    </form>
  </div>
</div>
