<div *ngIf="babble" class="card mx-auto mb-2" style="max-width: 40rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
  <div class="card-body text-center">
    <div class="border-bottom d-flex justify-content-between">
      <h4 routerLink="/user/{{ babble.creator }}" class="mb-4" style="color: dodgerblue; cursor: pointer">@{{ babble.creator }} <a *ngIf="babble.rebabble" routerLink="/user/{{ babble.rebabbler }}" class="text-muted"><i class="fa fa-retweet"></i><small> @{{babble.rebabbler}}</small></a></h4>
      <h4 *ngIf="authService.getUsername()===babble.creator" class="dropdown mb-3">
        <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none; color: dodgerblue">
          <i class="fa fa-ellipsis-h"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1" style="background: #eeeeee">
          <a routerLink="/babble/update/{{ babble.babbleId }}" class="dropdown-item">Edit</a>
          <a (click)="this.actionService.onDeleteBabble(babble.babbleId)" class="dropdown-item" style="color: red; cursor: pointer">Delete</a>
        </div>
      </h4>
    </div>
    <h5 class="card-text text-decoration-none mt-3">{{ babble.text }}</h5>
    <div class="d-flex justify-content-around">
      <small class="text-muted mt-1 mb-3">{{ babble.creationDate | date }}</small>
    </div>
    <div class="d-flex justify-content-around border-top border-bottom">
      <a (click)="onLike(babble.babbleId)" class="mt-3 mb-3" style="color: gray; cursor: pointer" *ngIf="!babble.hasCurrentUserLiked">{{ babble.numberOfLike }} <i class="far fa-handshake"></i></a>
      <a (click)="onDeleteLike(babble.babbleId)" class="mt-3 mb-3" style="color: black; cursor: pointer" *ngIf="babble.hasCurrentUserLiked">{{ babble.numberOfLike }} <i class="fas fa-handshake"></i></a>
      <a (click)="onDislike(babble.babbleId)" class="mt-3 mb-3" style="color: gray; cursor: pointer" *ngIf="!babble.hasCurrentUserDisliked">{{ babble.numberOfDislike }} <i class="far fa-thumbs-down"></i></a>
      <a (click)="onDeleteDislike(babble.babbleId)" class="mt-3 mb-3" style="color: red; cursor: pointer" *ngIf="babble.hasCurrentUserDisliked">{{ babble.numberOfDislike }} <i class="fas fa-thumbs-down"></i></a>
      <a routerLink="/babble/comment/{{ babble.babbleId }}" class="mt-3 mb-3" style="color: gray; text-decoration: none">{{ babble.numberOfComment }} <i class="far fa-comment-dots"></i></a>
      <a (click)="onShare(babble.babbleId)" class="mt-3 mb-3" style="color: gray; cursor: pointer">{{ babble.numberOfRebabble }} <i class="fa fa-retweet"></i></a>
    </div>
  </div>

  <div *ngFor="let Comment of commentList" class="card-body text-center">
    <div class="d-flex justify-content-between">
      <p routerLink="/user/{{ Comment.userName }}" class="card-text text-decoration-none"><span class="font-weight-bold"> @{{ Comment.userName }}</span> <small class="text-muted"> {{ Comment.creationDate | date }}</small></p>
      <p  *ngIf="authService.getUsername()===Comment.userName" class="far fa-trash-alt"></p>
    </div>
    <p class="card-text text-decoration-none border-bottom pb-3">{{ Comment.text }}</p>
  </div>
</div>

<div class="card-body mx-auto" style="max-width: 40rem; background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div class="form-group" style="border-color: black">
      <label class="sr-only" for="text">Text</label>
      <textarea class="form-control" id="text" rows="3" class="form-control" formControlName="text" placeholder="Write a comment !" style="background: none; border-color: black"></textarea>
    </div>
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary" type="submit" [disabled]="commentForm.invalid">Comment</button>
    </div>
  </form>
</div>

