<div class="card gedf-card mx-auto" style="max-width: 40rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-between align-items-center">
        <div class="ml-2">
          <div class="h5 m-0">
            <a style="color: dodgerblue">Create a new account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="userName">Username</label>
        <input type="text" id="userName" class="form-control" formControlName="userName" style="background: none; border-color: black">
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" formControlName="name" style="background: none; border-color: black">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password" style="background: none; border-color: black">
      </div>
      <button class="btn btn-primary mt-sm-2" type="submit" [disabled]="signupForm.invalid">Create your account</button>
    </form>
    <div class="mt-sm-2">
      <p style="color: red" *ngIf="hatError">{{ errorMessage }}</p>
    </div>
  </div>
</div>
