<div class="card gedf-card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-between align-items-center">
        <div class="ml-2">
          <div class="h5 m-0">
            <a style="color: black">Create a new Babble</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="createBabbleForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="sr-only" for="text">Text</label>
        <textarea class="form-control" id="text" rows="3" class="form-control" formControlName="text" placeholder="What are you thinking?"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="createBabbleForm.invalid">Post</button>
    </form>
</div>
</div>
