<div class="col-md-3 mx-auto mb-2" style="max-width: 40rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)" *ngIf="babblesList?.length>0">
  <h3>List of Babble with new comment !</h3>
</div>


<ng-container *ngIf="babblesList?.length>0; else noBabbles">
  <div *ngFor="let Babble of babblesList" class="card mx-auto mb-2" style="max-width: 40rem;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
    <div class="card-body text-center">
      <div class="border-bottom d-flex justify-content-between">
        <h4 routerLink="/user/{{ Babble.creator }}" class="mb-4" style="color: dodgerblue; cursor: pointer">@{{ Babble.creator }} <a *ngIf="Babble.rebabble" class="text-muted" routerLink="/user/{{ Babble.rebabbler }}"><i class="fa fa-retweet"></i><small> @{{Babble.rebabbler}}</small></a></h4>
        <h4 *ngIf="authService.getUsername()===Babble.creator" class="dropdown mb-3">
          <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none; color: dodgerblue">
            <i class="fa fa-ellipsis-h"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1" style="background: #eeeeee">
            <a routerLink="/babble/update/{{ Babble.babbleId }}" class="dropdown-item">Edit</a>
            <a (click)="this.actionService.onDeleteBabble(Babble.babbleId)" class="dropdown-item" style="color: red; cursor: pointer">Delete</a>
          </div>
        </h4>
      </div>
      <h5 class="card-text text-decoration-none mt-3">{{ Babble.text }}</h5>
      <div class="d-flex justify-content-around">
        <small class="text-muted mt-1 mb-3">{{ Babble.creationDate | date }}</small>
      </div>
      <div class="d-flex justify-content-around border-top">
        <a (click)="onLike(Babble.babbleId)" class="mt-3" style="color: gray; cursor: pointer" *ngIf="!Babble.hasCurrentUserLiked">{{ Babble.numberOfLike }} <i class="far fa-handshake"></i></a>
        <a (click)="onDeleteLike(Babble.babbleId)" class="mt-3" style="color: black; cursor: pointer" *ngIf="Babble.hasCurrentUserLiked">{{ Babble.numberOfLike }} <i class="fas fa-handshake"></i></a>
        <a (click)="onDislike(Babble.babbleId)" class="mt-3" style="color: gray; cursor: pointer" *ngIf="!Babble.hasCurrentUserDisliked">{{ Babble.numberOfDislike }} <i class="far fa-thumbs-down"></i></a>
        <a (click)="onDeleteDislike(Babble.babbleId)" class="mt-3" style="color: red; cursor: pointer" *ngIf="Babble.hasCurrentUserDisliked">{{ Babble.numberOfDislike }} <i class="fas fa-thumbs-down"></i></a>
        <a routerLink="/babble/comment/{{ Babble.babbleId }}" class="mt-3" style="color: gray; text-decoration: none">{{ Babble.numberOfComment }} <i class="far fa-comment-dots"></i></a>
        <a (click)="onShare(Babble.babbleId)" class="mt-3" style="color: gray; cursor: pointer">{{ Babble.numberOfRebabble }} <i class="fa fa-retweet"></i></a>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #noBabbles>
  <div class="card-body mx-auto text-center" style="max-width: 40rem">
    <p>You have no notification actually</p>
  </div>
</ng-template>
