<div class="container">

  <h2 align="center">Babbles result</h2>

  <div class="jumbotron" style="display: flex; justify-content: center; background: none">
    <a class="btn btn-primary" routerLink="/babble/add">New Babble</a>
  </div>
</div>

<div *ngFor="let Babble of babbleList" class="card gedf-card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-between align-items-center">
        <div class="mr-2">
          <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
        </div>
        <div class="ml-2">
          <div class="h5 m-0">
            <a style="color: black; text-decoration: none" routerLink="/user/{{ Babble.creator }}">@{{ Babble.creator }}</a>
          </div>
          <div class="h7 text-muted">{{ Babble.creationDate | date }}</div>
        </div>
      </div>
      <div>
        <div class="dropdown">
          <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
            <div class="h6 dropdown-header">Configuration</div>
            <a class="dropdown-item" href="#">Save</a>
            <a class="dropdown-item" href="#">Hide</a>
            <a class="dropdown-item" href="#">Report</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="card-body">
    <p class="card-text text-decoration-none">{{ Babble.text }}</p>
  </div>
  <div class="card-footer">
    <a href="#" class="card-link"><i class="fa fa-gittip"></i>{{ Babble.numberOfLike }} Like</a>
    <a href="#" class="card-link"><i class="fa fa-gittip"></i>{{ Babble.numberOfDislike }} Dislike</a>
    <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
    <a href="#" class="card-link"><i class="fa fa-mail-forward"></i>{{ Babble.numberOfRebabble }} Share</a>
  </div>
</div>
